<div id="<%= dom_id exam %>">
  <p>
    <strong>Title:</strong>
    <%= exam.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= exam.description %>
  </p>

  <p>
    <strong>Pass grade:</strong>
    <%= exam.pass_grade %>
  </p>

</div>
